.book-item {
    background-color: #400D09;
    background-color: #d5cfc1;
    background-color: whitesmoke;
}

.book-cover {
    height: 214px;
    width: 162px;
}

.book-overview {
    font-size: 14px;
    text-align: left;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    color: black;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman";
}

.book-heading {
    color: white;
    font-size: 16px;
}

.book-author {
    color: white;
    font-size: 14px;
}

.book-price {
    color: #FFFF00;
    color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

button {
    width: 162px;
}

button .fa-cart-plus {
    font-size: large;
}

.read-more-link {
    color: #E1AC27;
    color: white;
    color: black;
    color: #729679;
}
