.shopping-cart-list {
    min-height: 80%;
}

.shopping-cart-item-wrapper {
    border: none;
    background-color: white;
    border-bottom: solid orange 3px;
}

.shopping-cart-item-wrapper:last-child {
    border: none;
    margin-bottom: 20px;
}

.shopping-cart-list-only-child {
    margin-top: 50%;
}