.shopping-cart-list {
    min-height: 80%;
}

.shopping-cart-item-wrapper {
    border: none;
    background-color: #729679;
    border-bottom: solid orange 3px;
}

.shopping-cart-item-wrapper:last-child {
    margin-bottom: 20px;
}

#empty-cart-message {
    margin-top: 75%;
    min-height: 50%;
}