.nav-btn{
  background-color: white;
  background-color: #729679;
  color: white;
  color: #d5a03d;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
  }

  .nav-btn:hover {
    color: yellow;
  }