.forgotten-password-btn {
    background-color: #729679;
    color: whitesmoke;
    border: none;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-body {
    background-color: whitesmoke;
}

.modal-header {
    background-color: #729679;
}

.modal-footer {
    justify-content: center;
    background-color: #d5cfc1;
}

.modal-footer .secondary-btn {
    background-color: white;
}