.forgotten-password-btn {
    background-color: white;
    border: none;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-footer {
    justify-content: center;
}

.modal-body, .modal-footer {
    background-color: #729679;
}

.modal-header, .modal-footer {
    background-color: #E1AC27;
}