.offcanvas-body {
    padding: 0;
    background-color: #729679;
}

.offcanvas-header {
    background-color: #E1AC27;
}

.offcanvas-body .heading,
.offcanvas-body .author{
    font-size: small;
}

.offcanvas-body .shopping-cart-item-image {
    height: 119px;
    width: 90px;
}

.offcanvas-body article {
    color: black;
    background-color: #729679;
}

.offcanvas-body .heading,
.offcanvas-body .price{
    color: black;
}


#checkout-btn {
    width: 100%;
    height: 15%;
    border: none;
}

.offcanvas-body button {
    width: inherit;
}

.modal-backdrop {
    z-index: 200;
}

button .fa-arrow-right {
    font-size: xx-large;
}
