.tag-btn{
    background-color: #81B861;
    background-color: white;
    color: white;
    color: #c6ae8a;
    color: #729679;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    width: max-content;
    border-radius: 5px;
  }

  .tag-btn:hover {
    color: yellow;
  }

  .active {
    background-color: #729679;
    color: whitesmoke;
  }