.book-details-wrapper {
    background-color: #cd9c52;
    background-color: #c22b30;
    min-height: 92vh;
}

.book-details-image {
    width: 216px;
    height: 334px;
}

.book-details-main-content-header {
    color: white;
}

.book-details-overview {
    text-align: justify;
    border: solid 1px black;
}

.book-details-overview {
    color: #cd9c52;;
}

.book-details-additional-details-wrapper {
    color: #FFFF00;
    border: solid 1px black;
}

.book-details-additional-details-wrapper button {
    background-color: #cd9c52;
    color: white;
}