.App,
body{
  text-align: center;
  /* background-color: #729679; */
  background-color: white;
}

.navigation{
  height: fit-content;
  background-color: #d5a03d;
  background-color: #c9a873;
  background-color: #6e322a;
  background-color: #967a41;
  background-color: #594838;
  background-color: #400D09;
  background-color: #d5cfc1;
  background-color: whitesmoke;
  background-color: #729679;
}

.bg-color{
  /* background-color: #729679; */
  background-color: white;
}

.primary-color{
  background-color: #E1AC27;
}

.secondary-color{
  background-color: #81B861;
  background-color: white;
}

.clicked{
  color: #FFFF00
}

/* ul,
li,
article,
.book-list-wrapper,
.list-group-item,
.list-group,
.list-group-horizontal {
  background-color: #729679;
  border: none;
} */

.page-navigation {
  width: 10%;
  margin-left: 45%;
}

.page-navigation li {
  padding: 0;
  background-color: #729679;
  border: black solid 1px;
}

.page-navigation li a{
  color: white;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #729679;
}

*::-webkit-scrollbar-thumb {
  background-color: #E1AC27;
}